@import url(https://fonts.googleapis.com/css?family=Khula:700);

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  font-size:16px;
  font-family: 'monospace';

}

body{
  background-image: linear-gradient(to top, rgba(45, 10, 75, 0.5), rgba(45, 10, 75, 0.9));
  width: 100%;
  overflow: hidden;

}

section{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.container{
  width: 90%;
  max-width:80% ;
  margin: 0 auto;
  position: absolute;
  top: 0;
  border-radius: 10px;

}
.container img{
  width: 100%;
  height: 100%;
  border-radius: 10px;

}

@media all and (max-width: 1440px){
  .container{
    max-width: 100%;
    width: 95%;
  }

  body{
      overflow: visible;
  }
}

.areas:hover {
  cursor: pointer;
}

.modal{
  color: rgba(0,0,0,0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  transition:  0.25 ease-out;
}

.modal.open{
  opacity: 1;
  pointer-events: all;
}

.container.open{
  opacity: 0;
}

.outer{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%) scale(0.5);
  transition: all 0.25 ease-out;
}

.outer.open{
  transform:translate(-50%, -50%) scale(.95);
}

.inner {
  position: relative;
  width: 100%;
  padding-top: 53%;
  background: url("monitor.png") no-repeat center /contain;
}

/*.inner iframe {
  position: absolute;
  border: none;
}*/

.areas:hover {
  cursor: pointer;
}

.all-tooltip{
  pointer-events: none;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.tooltip {
  pointer-events:auto;
}

.tooltip-content{
  position: absolute;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 20px #00000020;
  padding: 30px;
  border-radius:8px;
  width: 90vw;
  max-width: 420px;
  opacity: 0;
  pointer-events: none;
  z-index: 2;
}
.tooltip-content .arrow{
  position: absolute;
  width: 10px;
  height: 10px;
  border: 10px solid transparent;
  top: 0px;
  left: 50%;
  transform:translate(-50%, -100%) rotate(0deg);
}

.tooltip.active .tooltip-content {
  opacity: 1;
  pointer-events: all;
  display: block;
}

.pin{
  position: absolute;
  content: '';
  height: 15px;
  width: 15px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  cursor: pointer;
}

/* Media Query */


.hidden {
  opacity:0;
}
.console-container {
 
  font-family:Khula;
  font-size:4em;
  text-align:center;
  height:5%;
  max-width:100%;
  display:block;
  color:white;
  margin:auto;
}

.console-underscore {
   display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;

}

.info{
  position: absolute;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 20px #00000020;
  padding: 30px;
  border-radius:8px;
  width: 90vw;
  z-index: 2;
  max-width: 300px;
  right: 1%;
  top: 1.5%;
}


.menu {
  height: 25%;
  float: top;
  padding: 15px;
}

.main {
  height: 75%;
  float: top;
  padding: 15px;
  position: relative;
}
@media all and (max-width: 768px){
  .tooltip .tooltip-content{
    flex-direction: column;
    max-width: 300px;
  }
  .tooltip .tooltip-content .content,
  .tooltip .tooltip-content .img{
    width: 100%;
  }

  .info{
    right: 17.5%;
    top: 100%;
  }

  .inner {
  padding-top: 175%;
  background: url("mobile.png") no-repeat center /contain;
}

}

/*.iframe-wrap{
    border-radius: 25px;
    width: 100%;
}*/

.iframe-container{
  position: absolute;
}